#menu
{
    background-color: #353940;
    padding: 15px;
    box-shadow: 5px 2px 5px 2px black;
}
#menu li
{
    list-style: none;
    display: inline-block;
    font: bold 20px;
    padding-left: 50px;
}
#menu a{
    text-decoration: none;
    color:white
}
#servicios
{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

#image1-serv
{
    border: 1px solid black;
}
#image2-serv
{
    border: 1px solid black;
}#image3-serv
{
    border: 1px solid black;
}
.imgServ{
    width: 100%;
}
#contenidoPpal
{
    display: flex;
}
#contenidoPpal
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: #03318C;
    padding: 50px;
}
#cajvideo{
    width: 40%;
}
#textoPpal
{
    width: 40%;
}
#video{
    width: 100%;
    border-radius: 5px;
}